@model ApplicationCRUDViewModel

@{
    ViewData["Title"] = "Application";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Application" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationCreate.Title" class="control-label"></label>
                <input asp-for="ApplicationCreate.Title" class="form-control" />
                <span asp-validation-for="ApplicationCreate.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationCreate.Description" class="control-label"></label>
                <input asp-for="ApplicationCreate.Description" class="form-control" />
                <span asp-validation-for="ApplicationCreate.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationCreate.ImagePath" class="control-label"></label>
                <input asp-for="ApplicationCreate.ImagePath" type="file" class="form-control" />
                <span asp-validation-for="ApplicationCreate.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicationCreate.PositionRight" /> @Html.DisplayNameFor(model => model.ApplicationCreate.PositionRight)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicationCreate.OutSource" /> @Html.DisplayNameFor(model => model.ApplicationCreate.OutSource)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <div class="col-sm-10">
                    <select asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" asp-for="ApplicationCreate.CategoryId"></select><br /><br />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationCreate.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationCreate.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationCreate.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationCreate.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationCreate.PositionRight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationCreate.OutSource)
            </th>
            @*           <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.CategoryName)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationViews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionRight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outsource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <a href="/admin/Application/Delete?id=@item.Id" id="deleteBtn" class="btn bg-danger mr-1" onclick="return confirm('Are you sure you want to delete?');"><i class="fas fa-trash-alt text-white"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
