@model ApplicationDetailsViewModel
@using Jironimo.Web.Helper
@using Jironimo.Common.Models.Aplications;
@{
    ViewData["Title"] = "Details";
}
@section Styles{
<link rel="stylesheet" href="~/css/ApplicationDetails.css" asp-append-version="true" />
}
<div>
    <div class="img_full_information">
        <div class="img_full">
            <img src="~/images/Applications/@Model.Application.ImagePath" />
        </div>
        <div class="general_block">
            <div class="titlle_full">
                @Model.Application.Title
            </div>
        @*    <div class="data_cost">
                <div class="data_full">
                    @Model.Application.CategoryName - @Datetime.GetCreatedAt(Model.Application.CreatedAt)
                </div>
                <div class="cost_full">
                    Cost of a similar project ≈ $@Model.Application.Price
                </div>
            </div>*@
            <div class="discription_full">
                @Model.Application.Description
            </div>
            <div class="links_full">
                @if (@Model.Application.AppStoreLink != null)
                {
                    <a href="@Model.Application.AppStoreLink"> App Store<img class="img_up" src="/icons/upArrowRight.svg"></a>
                }
                @if (@Model.Application.GooglePlayLink != null)
                {
                    <a href="@Model.Application.GooglePlayLink"> Google Play<img class="img_up" src="/icons/upArrowRight.svg"></a>
                }
            </div>
          
        </div>
    </div>

    @foreach (var item in Model.ApplicationDetails)
    {
        if (item.PositionImage == PositionImage.full && item.Title != null && item.Description != null)
        {
            <div class="information_full">
                <div class="title_information_full">
                    Title
                </div>
                <div class="text_information_full">
                    Applage is a group of developers and designers on a mission to make Corporate and Startups more capable through state of the art digital solutions.
                </div>
                <div class="img_information_full">
                    <img src="~/images/ApplicationDetails/@item.ImagePath" />
                </div>
            </div>
        }
        else if (item.PositionImage == PositionImage.full)
        {

            <div class="img_full_block">
                <img src="~/images/ApplicationDetails/@item.ImagePath" />
            </div>
        }
        else if (item.PositionImage == PositionImage.twoImage)
        {

            <div class="two_pictures">
                <img src="~/images/ApplicationDetails/@item.ImagePath" />
                <img src="~/images/ApplicationDetails/@item.ImagePathTwo" />
            </div>
        }
        else if (item.PositionImage == PositionImage.right)
        {

            <div class="application">
                <div class="application_block right block_right_detalis">
                    <div class="application_title">
                        @item.Title
                    </div>
                    <div class="application_description">
                        @item.Description
                    </div>
                </div>
                <div class="application_image right">
                    <img class="right" src="~/images/ApplicationDetails/@item.ImagePath" alt="" />
                </div>
            </div>
        }
        else if (item.PositionImage == PositionImage.left)
        {

            <div class="application">
                <div class="application_block left block_right">
                    <div class="application_title">
                        @item.Title
                    </div>
                    <div class="application_description">
                        @item.Description
                    </div>
                </div>
                <div class="application_image left">
                    <img class="right" src="~/images/ApplicationDetails/@item.ImagePath" alt="" />
                </div>
            </div>

        }
    }

    <div class="block_img">
        @foreach (var item in Model.Developers)
        {
            <div class="dev_block">
                <img class="dev_avatar_img" src="~/images/Developers/@item.ImagePath" />

                <div class="dev_position">
                    @item.Position
                </div>
                <div class="dev_name">
                    @item.Name
                    <img class="img_up" src="~/icons/upArrowRightGrey.svg" />
                </div>
            </div>
        }
    </div>
    <h1 class="other_works_title">Other works</h1>
    @await Html.PartialAsync("~/Views/Components/Content/_ApplicationSection.cshtml",@Model.Applications)
</div>