
@using Jironimo.Web.ViewModels
@using Jironimo.Web.Helper
@using resources = Jironimo.Web.Resources.Content.MainPage;
@model List<ApplicationViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{

<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
}

<div class="black_fon">
    <div class="large_text">
        <p>
            A good team who makes good products for good people.
        </p>

    </div>
    <div class="mini_text">
        <p>
            Madlab is a group of professional problem-solvers and deep thinkers, working hard till we kill it.
        </p>
    </div>
    <div class="grey_square" id="grey">
    </div>
    <div class="pink_square" id="pink">
    </div>
</div>

<div>
    @foreach (var item in Model)
    {
        <div class="application">
            <div class="application_block @(item.PositionRight?"left":"right block_right")">
                <div class="application_data">
                    <span>
                         @item.CategoryName - @Datetime.GetCreatedAt(item.CreatedAt)
                    </span>
                </div>
                <div class="application_title">
                    @item.Title
                </div>
                <div class="application_description">
                    @item.Description
                </div>
                <div class="application_view">
                    <a>
                        View
                        <img class="img_right" src="./icons/upArrowRight.svg" />
                    </a>
                </div>
            </div>
            <div class="application_image @(item.PositionRight?"right":"left")">
                <img class="@(item.PositionRight?"right":"left")" src="./images/Application/@item.ImagePath" alt="" />
            </div>
        </div>
    }
</div>

@*<script>
    var pink=document.getElementById("pink") ;
    var grey=document.getElementById("grey") ;

    window.addEventListener('scroll', function() {
    pink.style.top=+50+ '%';
    });
    </script>*@