@using Jironimo.Web.ViewModels
@model CategoryApplicationViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link rel="stylesheet" href="~/css/Work.css" asp-append-version="true" />
}

<div class="top_page">

    <div class="btn-group">
        @foreach (var item in Model.TypeMarkets)
        {
            <button class="@(item.IsActive?"focus_market_type":"")" onclick="addParamsUrl('outSource','@item.Value','@item.IsActive')">@item.Name</button>
        }
    </div>
    <div class="btn_ovale">
        @foreach (var item in Model.Categories)
        {
            <a class="@(item.IsActive?"category_black":"")" onclick="addParamsUrl('categoryId','@item.Id','@item.IsActive')">@item.Name</a>
        }
    </div>
</div>

@await Html.PartialAsync("~/Views/Components/Content/_ApplicationSection.cshtml",@Model.Applications)

