@using Jironimo.Common.Models.Aplications;
@model ApplicationDetailsCreateViewModel
@{
    ViewData["Title"] = "ApplicationDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var applications = (List<Application>)ViewBag.Applications;
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="ApplicationDetails" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <select class="form-select" asp-items="@(new SelectList(applications, "Id", "Title"))" asp-for="ApplicationId"></select><br /><br />
            </div>
            <div class="form-group">
                <label asp-for="PositionImage" class="control-label"></label>
                <select class="form-select" asp-for="PositionImage" asp-items="Html.GetEnumSelectList<PositionImage>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" type="file" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePathTwo" class="control-label"></label>
                <input asp-for="ImagePathTwo" type="file" class="form-control" />
                <span asp-validation-for="ImagePathTwo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePathTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionImage)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in applications)
        {
            @foreach (var applicationDetails in item.ApplicationDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => applicationDetails.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicationDetails.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicationDetails.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicationDetails.ImagePathTwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicationDetails.PositionImage)
                    </td>
                    <td>
                        <a href="/admin/applicationDetails/Delete?id=@applicationDetails.Id" id="deleteBtn" class="btn bg-danger mr-1" onclick="return confirm('Are you sure you want to delete?');"><i class="fas fa-trash-alt text-white"></i>Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>